nav {
  text-align: right;

  a {
    font-family: 'Taviraj', serif;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    margin-left: 25px;

    &:hover {
      text-decoration: underline;
    }
  }
}
